/*--------------------All--------------------*/

:root {
    --primary-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --white-background-color: #FFFFFF;
    --modal-background-color: #FCFCFC;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    background-color: var(--white-background-color);
}

h1, h2, h3, ul, p  {
    margin-top: 0;
    margin-bottom: 0;
}


.list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

.page-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    max-width: 496px;
}

.section-title {
    color: var(--dark-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.title {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;

}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.container {
    max-width: 1440px;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*--------------------Main-page--------------------*/
/*--------------------Header-joint--------------------*/

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 332;
}

.page-header {
    border-bottom: 1px solid var(--accent-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.link-logo {
    margin-right: 76px;
    
}

.list-header {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav {
    display: flex;
    align-items: center;
    
}

.header-contacts {
    display: flex;
    gap: 40px;
}

.link-logo, .link-logo-footer {
    font-family: var(--logo-font);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    color: var(--primary-brand-color);
    text-transform: uppercase;
}

.logo-header {
    color: var(--dark-color);
}

.page-link {
    font-weight: 500;
    color: var(--dark-color);
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-link-studio {
    font-weight: 500;
    color: var(--pressed-state-color);
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-link-studio::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    content: "";
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state-color);
}

.page-link:hover,
.page-link:focus {
    color: var(--pressed-state-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
    font-style: normal;
}
.contacts {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts .link {
    color: var(--text-color);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
    color: var(--pressed-state-color);
}

/*--------------------Section-one--------------------*/

.section-one {
    background-color: var(--dark-color);
    color: var(--white-background-color);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/img-17.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container .page-title {
    width: 496px;
    padding-left: auto;
    padding-right: auto;
    margin-right: auto;
    margin-left: auto;
}

.section-one .button {
    color: var(--white-background-color);
    display: block;
    background-color: var(--primary-brand-color);
    border-radius: 4px;
    padding: 16px 32px;
    margin: 48px auto 0;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one .button:hover,
.section-one .button:focus {
    background-color: var(--pressed-state-color);
}

/*--------------------Section-two--------------------*/

.section-two {
    padding-top: 120px;
    padding-bottom: 120px;
}

.list-section-two {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.item-section-two {
    width: calc((100% - 3*24px) / 4);
    width: 264px;
}
.container-section-two {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--light-color);
    border-radius: 4px;
    margin-bottom: 8px;
}

.section-two .title {
    line-height: 1.2;
}

/*--------------------Section-three--------------------*/

.section-three {
    padding-bottom: 120px;
}

.list-section-three {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 72px auto 0;
    padding: 0;
}
.item-section-three {
    width: calc((100% - 48px) / 3);
}

/*--------------------Section-four--------------------*/

.section-four {
    background-color: var(--light-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

.list-section-four {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 72px auto 0;
}

.item-section-four {
    background-color: var(--white-background-color);
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.worker {
    padding: 32px 0;
}

.social-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-media-item {
    width: 40px;
    height: 40px;
}
.social-media-icon {
    fill: var(--light-color);
}
.link-section-four {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-section-four:hover,
.link-section-four:focus {
    background-color: var(--pressed-state-color);
}

.section-four .title {
    line-height: 1.2;
}

.section-four .title,
.section-four .section-text {
    text-align: center;
}
/*--------------------Section-five--------------------*/
.section-five {
    padding-top: 120px;
    padding-bottom: 120px;
}
.list-section-five {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 72px auto 0;
}
.item-section-five {
    width: calc((100% - 120px) / 6);
    height: 88px;
}
.link-section-five {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--subtle-text-color);
    border-color: var(--pressed-state-color);
    width: 100%;
    height: 100%;
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-section-five:hover,
.link-section-five:focus {
    color: var(--pressed-state-color);
    border-color: var(--pressed-state-color);
}
.logo-section-five {
    fill: currentColor;
}


/*--------------------Portfolio--------------------*/

.section-portfolio {
    padding: 96px 0 120px 0;
}
.page-link-portfolio {
    font-weight: 500;
    color: var(--pressed-state-color);
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-link-portfolio::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    content: "";
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state-color);
}
.page-link-portfolio::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state-color);
}

.button-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.button-portfolio {
    color: var(--primary-brand-color);
    background-color: var(--light-color);
    padding: 12px 24px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:active,
.button-portfolio:focus {
    color: var(--white-background-color);
    background-color: var(--pressed-state-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-portfolio {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.item-portfolio {
    width: calc((100% - 48px) / 3);
}
.container-img-portfolio {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
    background-color: var(--primary-brand-color);
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portfolio {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio:hover .overlay,
.link-portfolio:focus .overlay {
    transform: translateY(0);
}
.app-portfolio {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}

.section-portfolio .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
}

/*--------------------Footer-joint--------------------*/

.footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.container-footer {
    display: flex;
    align-items: baseline;
}
.logo-and-text-footer {
    margin-right: 120px;
}
.link-logo-footer {
    line-height: 1.17;
    display: inline-block;
    margin-bottom: 16px;
}

.social-media-footer {
    margin-right: 80px;
}
.social-media-text-footer {
    font-weight: 500;
    size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-background-color);
    margin-bottom: 16px;
}
.social-media-list-footer {
    display: flex;
    gap: 16px;
}
.social-media-item-footer {
    width: 40px;
    height: 40px;
}
.social-media-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link-footer:hover,
.social-media-link-footer:focus {
    background-color: var(--success-color);
}
.social-media-icon-footer {
    fill: var(--light-color);
}

.text-form-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: var(--white-background-color);
}
.form-footer {
    display: flex;
    gap: 24px;
}
.form-input-footer {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white-background-color);
    color: var(--white-background-color);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}
.form-input-footer::placeholder {
    color: var(--white-background-color);
}

.button-form-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background-color);
    background-color: var(--primary-brand-color);
    cursor: pointer;
    min-width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
}
.form-footer-icon {
    margin-left: 16px;
}

.logo-footer {
    color: var(--light-color);
}

.footer .text {
    max-width: 264px;
}

/*--------------------Modal--------------------*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    background: var(--modal-background-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--accent-color);
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cross {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
    background-color: var(--pressed-state-color);
    fill: var(--white-background-color);
    border: none;
}

.text-modal-window {
    font-weight: 500;
    font-style: 16px;
    line-height: 1.5;
    color: var(--dark-color);
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.container-form-modal {
    margin-bottom: 8px;
}
.container-form-input-icon {
    position: relative;
}
.container-form-modal-comment {
    margin-bottom: 16px;
}
.container-form-checkbox {
    margin-bottom: 24px;
}

.form-label-modal {
    display: block;
    margin-bottom: 4px; 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
}
.form-textarea-modal {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea-modal:focus {
    border-color: var(--primary-brand-color);
}

.label-checkbox-modal {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
}
.span-checkbox-modal {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-checkbox-modal {
    color: var(--primary-brand-color);
}

.button-form-modal {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background-color);
    cursor: pointer;
    background-color: var(--primary-brand-color);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.icon-checkbox-modal {
    display: flex;
    align-items: center;
}
.input-checkbox-modal:checked + .label-checkbox-modal .span-checkbox-modal {
    background-color: var(--pressed-state-color);
    border: none;
    fill: var(--light-color);
} 

.form-input-modal {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon-modal {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-modal:focus {
    border-color: var(--primary-brand-color);
}
.form-input-modal:focus + .form-icon-modal {
    fill: var(--primary-brand-color);
}


.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


